.profilePic {
    border-radius: 50%;
}

.socialContainer {
    display: flex;
    margin: 1.5rem 0rem 1.25rem 
}

.LinkedInIcon:hover {
    background-color: white;
}

.socialPadding {
    padding-right: 0.5rem
}

.navLinksContainer {
    width: 100%;
    max-width: 22.5rem;
    background-color: 303030;
}

.navLinks{
    padding: 0.75rem 0rem 0.75rem;
}

.parentContainer{
    display: flex;
    min-width: 100vh;
    max-width: 100vw;
    margin: 0 auto;
}

.sidebar{
    flex-shrink: 0;
    width: 15rem;
    height: 100vh;
    overflow: auto;
    position: sticky;
    top: 0
}

.contentBody{
    flex-grow: 1
}

.navbarUpperContainer{
    padding: 3rem 1.25rem 0rem
}

.profileContainer{
    display: flex;
    justify-content: space-between 
}

.cardClock {
    display: flex;
    margin-top: 2rem;
    margin-left: 3rem
}

.displayFlex{
    display: flex
}

.descriptionContainer{
    margin-bottom: 1rem
}

.cardTime{
    display: flex;
    margin-top : 2rem
}

.notFoundContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    flex-basis: 1;
}

.button404Container{
   display: flex;
   justify-content: center;
}

