.profilePic {
    border-radius: 50%;
}

.socialContainer {
    display: flex;
    margin: 20px 0px 20px 
}

.socialPadding {
    padding-right: 8px
}

.navLinksContainer {
    width: 100%;
    max-width: 360;
    background-color: 303030;
}

.navLinks{
    padding: 12px 0px 12px;
}